/* Global Styles */
:root {
  --primary-color: #6a1fff;
  --dark-color: #383440;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

.m-1 {
  margin: 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.p-1 {
  padding: 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.m-2 {
  margin: 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.p-2 {
  padding: 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.m-3 {
  margin: 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.p-3 {
  padding: 3rem;
}

.py-3 {
  padding: 3rem 0;
}

.m-4 {
  margin: 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.p-4 {
  padding: 4rem;
}

.py-4 {
  padding: 4rem 0;
}

.m-5 {
  margin: 5rem;
}

.my-5 {
  margin: 5rem 0;
}

.p-5 {
  padding: 5rem;
}

.py-5 {
  padding: 5rem 0;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

.w-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.cursor-pointer:hover {
  cursor: pointer;
}

a:hover,
button:hover {
  cursor: pointer;
}

/* Text Styles */
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

.round-img {
  border-radius: 50%;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

.bg-primary {
  background-color: var(--primary-color);
  color: #fff;
}
.bg-light {
  background-color: var(--light-color);
  color: #333;
  border: #ccc 1px solid;
}
.bg-dark {
  background-color: var(--dark-color);
  color: #fff;
}
.bg-success {
  background-color: var(--success-color);
  color: #fff;
}
.bg-danger {
  background-color: var(--danger-color);
  color: #fff;
}
.bg-white {
  background-color: #fff;
  color: #333;
  border: #ccc 1px solid;
}

.btn {
  display: inline-block;
  background-color: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 0.5rem;
  outline: none;
  transition: all 0.2s ease-in;
}
.btn.btn-primary {
  background-color: var(--primary-color);
  color: #fff;
}
.btn.btn-primary:hover {
  background: #7b39ff;
}
.btn.btn-dark {
  background-color: var(--dark-color);
  color: #fff;
}
.btn.btn-dark:hover {
  background: #443f4e;
}
.btn.btn-success {
  background-color: var(--success-color);
  color: #fff;
}
.btn.btn-success:hover {
  background: #2dbc4e;
}
.btn.btn-danger {
  background-color: var(--danger-color);
  color: #fff;
}
.btn.btn-danger:hover {
  background: #e04b59;
}
.btn:hover {
  background: #696278;
  color: #fff;
}

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background-color: var(--light-color);
  color: #333;
}
.alert.alert-primary {
  background-color: var(--primary-color);
  color: #fff;
}
.alert.alert-dark {
  background-color: var(--dark-color);
  color: #fff;
}
.alert.alert-success {
  background-color: var(--success-color);
  color: #fff;
}
.alert.alert-danger {
  background-color: var(--danger-color);
  color: #fff;
}

.badge {
  font-size: 0.8rem;
  padding: 0.3rem;
  background-color: var(--light-color);
  color: #333;
}
.badge:first-child {
  text-align: center;
}
.badge .round-img {
  width: 30px;
}
.badge.badge-primary {
  background-color: var(--primary-color);
  color: #fff;
}
.badge.badge-dark {
  background-color: var(--dark-color);
  color: #fff;
}
.badge.badge-success {
  background-color: var(--success-color);
  color: #fff;
}
.badge.badge-danger {
  background-color: var(--danger-color);
  color: #fff;
}

.dark-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.55);
}

.table th,
.table td {
  padding: 1rem;
  text-align: left;
}
.table th {
  background: var(--light-color);
}

.form-group {
  margin: 1.2rem 0;
}
.form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}
.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}
.form input[type='submit'] {
  font: inherit;
  cursor: pointer;
}
.form .social-input {
  display: flex;
}
.form .social-input i {
  padding: 0.5rem;
  width: 4rem;
}
.form .social-input i.fa-twitter {
  color: #38a1f3;
}
.form .social-input i.fa-facebook {
  color: #3b5998;
}
.form .social-input i.fa-instagram {
  color: #3f729b;
}
.form .social-input i.fa-youtube {
  color: #c4302b;
}
.form .social-input i.fa-linkedin {
  color: #0077b5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px var(--primary-color);
  opacity: 0.9;
}
.navbar ul {
  display: flex;
  align-items: baseline;
}
.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}
.navbar a:hover {
  color: var(--primary-color);
}

.landing {
  position: relative;
  background: url('./img/showcase.jpg') no-repeat center center/cover;
  height: 100vh;
}
.landing-inner {
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
  margin: auto;
}

.search-form {
  width: 100%;
  display: inline-block;
  background-color: #555;
  position: relative;
  border-radius: 10px;
  line-height: 0;
}
.search-form .form-control {
  display: inline-block;
  border: 0;
  outline: 0;
  font-size: 1rem;
  color: #ddd;
  background-color: transparent;
  font-family: inherit;
  margin: 0;
  padding: 0 3rem 0 1.5rem;
  width: 100%;
  height: 35px;
  border-radius: 20px;
}
.search-form .submit {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 35px;
  background-color: #eee;
  font-size: 1rem;
  text-align: center;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  color: #333;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
}

.search-grid {
  display: grid;
  grid-template-areas: 'users' 'posts';
  grid-gap: 1rem;
}
.search-grid .search-users {
  grid-area: users;
}
.search-grid .search-posts {
  grid-area: posts;
}
.search-grid .user {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  grid-gap: 2rem;
  align-items: center;
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
}
.search-grid .user .round-img {
  width: 100px;
  margin: auto;
}

.post {
  display: flex;
}
.post > div:first-child {
  flex: 7;
  flex-basis: 70%;
}
.post > div:last-child {
  flex: 3;
  flex-basis: 20%;
}

.profile-grid {
  display: grid;
  grid-template-areas: 'top' 'featured' 'pinned' 'posts';
  grid-gap: 1rem;
}
.profile-grid .profile-top {
  grid-area: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.profile-grid .profile-top img {
  width: 250px;
}
.profile-grid .profile-top .icons a {
  color: #fff;
  margin: 0 0.3rem;
}
.profile-grid .profile-top .icons a:hover {
  color: var(--dark-color);
}
.profile-grid .profile-featuredpost {
  grid-area: featured;
}
.profile-grid .profile-pinnedposts {
  grid-area: pinned;
}
.profile-grid .profile-posts {
  grid-area: posts;
}

.post-form-header {
  padding: 0.5rem;
}

.post-page .post,
.posts .post,
.comments .post {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 2rem;
  align-items: center;
}
.posts .post > div:first-child,
.comments .post > div:first-child {
  text-align: center;
}
.post img {
  width: 150px;
}

.post .post-title {
  color: #888;
  font-size: 1.2rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.post .post-title a {
  color: #888;
}

.post .post-date {
  color: #aaa;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.search-grid .pin,
.profile-grid .pin,
.posts .pin {
  font: inherit;
  padding: 0.7rem;
}

.post-top {
  display: flex;
  justify-content: space-between;
}
.post-top .buttons {
  display: inline-block;
}

.white-space-pre {
  white-space: pre;
}

.sample-account {
  border: 1px solid #ccc;
  padding: 0.3rem 1.25rem 0.3rem 0;
  border-radius: 0.3rem;
  outline: none;
  display: inline-block;
  margin: 0.3rem 0;
}

button:disabled {
  pointer-events: none;
}

@media (max-width: 700px) {
  .hide-sm {
    display: none;
  }

  .container {
    margin-top: 8rem;
  }

  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  .navbar {
    display: block;
    text-align: center;
  }
  .navbar ul {
    text-align: center;
    justify-content: center;
  }
  .navbar h1 {
    margin-bottom: 1rem;
  }

  .post {
    flex-direction: column;
    padding: 1rem;
  }
  .post .round-img {
    max-width: 100px;
  }

  .posts .post,
  .comments .post {
    grid-template-columns: 1fr;
  }
}
